.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.paddingXS {
  padding: 0 20px;
}

.paddingSm {
  padding: 0 32px;
}

.paddingMd {
  padding: 0 40px;
}

.sizeSm {
  width: 768px;
}
.sizeMd {
  width: 1070px;
}
.sizeLg {
  width: 1282px;
}
