@import "variables/css/colours";
@import "reset";
@import "fonts";

html,
body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 19px;
}
* {
  box-sizing: border-box;
}


body.modal-open{
  overflow: hidden;
}