.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: all .25s;

  &.short{
    background-color: rgba(255,255,255,.5);

     .logo{
      height: 63px;
    }
  }
}

.inner {
  display: flex;
  justify-content: space-between;
}

.navCtaCol{
  flex: 1;
}

.navCtaWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrap {
  flex: 0 0 170px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
}



.navCol {
  flex: 1;
}

.nav {
  display: flex;
  gap: 20px;

  .navItem {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
}

.cta{

}