.footer {
  position: relative;
  background-color: #f7f7f7;
  background: linear-gradient(85.83deg, #efefef 10.34%, #f7f7f7 88.58%);
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--color-brand-grey);

  @media (min-width: $screen-md) {
    display: grid;
    gap: 83px;
    grid-template-columns: [logo] 133px [nav] 1fr [cta] minmax(200px, 513px);
  }

  .logoWrap {
    grid-column: logo;
  }

  .nav {
    grid-column: nav;
  }

  .cta {
    grid-column: cta;
  }
}

.social {
  margin-top: 15px;
  display: inline-flex;
  gap: 15px;
  flex-wrap: wrap;
}

.footerNavTitle {
  margin-bottom: 10px;
}

.footerNav {
  display: flex;
  column-gap: 80px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.footerNavi {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  justify-items: flex-start;

  .footerNavItem {
    display: inline-flex;
    font-weight: 300;

    svg {
      margin-right: 15px;
    }
  }
}

.cta {
  text-align: center;
  margin: 0px -32px;
  margin-bottom: -20px;
  padding-top: 20px;

  @media (min-width: $screen-md) {
    margin: auto;
    padding-top: 0;
  }
}

.logoWrap {
}
