.splitIntroCon {
  position: relative;


}

.splitIntroGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;

  @media (min-width: $screen-md) {
    grid-template-columns: 40% 60%;
  }

  .leftCon {

  }

  .rightCon {

  }
}

.bgShape {
  position: absolute;
  left: 0;
  transform: translateX(-55%);
  top: -62px;
}