.spacer{
  display: block;
}

.xSm {
  padding-left: 20px;
  padding-right: 20px;
}

.xMd {
  padding-left: 50px;
  padding-right: 50px;
}

.xLg {
  padding-left: 70px;
  padding-right: 70px;
}
.xXl {
  padding-left: 100px;
  padding-right: 100px;
}

.yXsm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ySm {
  padding-top: 20px;
  padding-bottom: 20px;
}

.yMd {
  padding-top: 50px;
  padding-bottom: 50px;
}

.yLg {
  padding-top: 70px;
  padding-bottom: 70px;
}
.yXl {
  padding-top: 100px;
  padding-bottom: 100px;
}