.spacer {
  display: block;
  height: auto;
}

hr.spacer {
  height: auto;
  border: none;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-brand-dark-grey);
    display: block;
  }
}

.xXsm {
  padding-left: 10px;
  padding-right: 10px;
}

.xSm {
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $screen-md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.xMd {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $screen-md) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.xLg {
  padding-left: 50px;
  padding-right: 50px;

  @media (min-width: $screen-md) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.xXl {
  padding-left: 70px;
  padding-right: 70px;

  @media (min-width: $screen-md) {
    padding-left: 100px;
    padding-right: 100px;
  }
}


//Yaxis
.yXsm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ySm {
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $screen-md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.yMd {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $screen-md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.yLg {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $screen-md) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.yXl {
  padding-top: 70px;
  padding-bottom: 70px;

  @media (min-width: $screen-md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}