.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px;

  @media (min-width: $screen-xs) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $screen-md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  background: var(--color-brand-white);
  border: 1px solid var(--color-brand-green);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.asset {

}

.content {
  padding: 22px;

  p:first-child{
    margin-top: 0;
  }

  p:last-child{
    margin-bottom: 0;
  }
}