.heading {
  width: auto;
  height: auto;
  margin: 0;
}

//colors
.color-base {
  color: inherit;
}

.color-green {
  color: var(--color-brand-green)
}

.color-black {
  color: var(--color-brand-black)
}

.color-dark-grey {
  color: var(--color-brand-dark-grey)
}

.color-grey {
  color: var(--color-brand-grey)
}

//variations
.variant-h1 {
  font-family: 'AvertaStd-ExtraBold';
  font-size: 50px;
  line-height: 59px;
}

.variant-h2 {
  font-family: 'AvertaStd-ExtraBold';
  font-size: 43px;
  line-height: 50px;
}

.variant-h3 {
  font-family: 'AvertaStd-ExtraBold';
  font-size: 36px;
  line-height: 42px;
}

.variant-h4 {
  font-family: 'AvertaStd-ExtraBold';
  font-size: 30px;
  line-height: 35px;
}

.variant-h5 {
  font-family: 'AvertaStd-Regular';
  font-size: 26px;
  line-height: 30px;
}

.variant-h6 {
  font-family: 'AvertaStd-Regular';
  font-size: 23px;
  line-height: 27px;
}

//weights
.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700, .weight-bold {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}
